/* th {
    font-weight: bold;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/trainbackground.jpg")
}
.head {
    padding-bottom: 20px;
    height: 200px;
    margin-top:-20px;
    background-color: rgb(52, 58, 64, 0.9);
    max-width: 1300px;
   
}
.now-time{
    font-size: 15px;
}

.new-train-head {
    padding-top: 10px;
    background-color: rgb(40, 129, 129,0.9);
    border-radius: 8px;
    padding-bottom: 10px;
    color: aliceblue;
    margin-left: 5px;
    
}
.mini-label{
    font-size: 14px;
    font-weight: 800;
    color: rgb(149, 226, 203);
}

.train-info {
    padding-top: 10px;
    background-color: rgb(251, 253, 253,0.8);
    border-radius: 8px;
    padding-bottom: 10px;
    color: rgb(65, 66, 66);
    margin-left: -10px;
    
}

.title{
    padding-top: 7px;
    background-color: rgba(46, 155, 155, 0.5);
    border-radius: 8px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.title-schedule{
  
        padding-top: 7px;
        background-color: rgba(19, 27, 27, 0.5);
        border-radius: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        color: white;
   
}

.subtitle-schedule{
  
    padding-top: 7px;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 700;
 

}
.add-train-button {
    background-color: rgba(30, 94, 94);
    color: white;
}